<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css"            href="/static/css/mystyle.css" />
</head>
<body>
  <h1>Google Store Merchandise</h1>
    <h2>Indicateurs</h2>
    <p><a href = "http://127.0.0.1:5000/gsviz1">Taux de conversion</a></p>
    <p><a href = "http://127.0.0.1:5000/gsviz2">Connexions jour</a></p>
    <p><a href = "http://127.0.0.1:5000/gsviz3">Source du traffic</a></p>
    <p><a href = "http://127.0.0.1:5000/gsviz4">Top des régions</a></p>
    <p><a href = "http://127.0.0.1:5000/gsviz5">Hit Parade produits</a></p>
    <p><a href = "http://127.0.0.1:5000/gsviz6">Connections et transactions par pays</a></p>
    <img src="/static/googlestorecapture.png" alt="Google Merchandise" width="545" height="545">
</body>
</html>