<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css"            href="/static/css/hitprod.css" />
</head>
<body>
    <h1>Hit Parade des produits consultés sur le site</h1>
    <div class="row">
        <div class="col-7">
            <figure class="figure">
                <img src="{{url_for('static', filename='gspng/Hit Produits.png')}}" class="align-self-start mr-3 py-4" alt="...">
                <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
            </figure>                          
        </div>
        <div class="col-5">
            <hr>
            <figure class="figure">
                <img src="{{url_for('static', filename='gspng/Top1.jpg')}}" style="width: 120%; height: 120%" class="align-self-start mr-3 py-4" alt="...">
                <img src="{{url_for('static', filename='gspng/Top2.jpg')}}" style="width: 120%; height: 120%" class="align-self-start mr-3 py-4" alt="...">
                <img src="{{url_for('static', filename='gspng/Top3.jpg')}}" style="width: 120%; height: 120%" class="align-self-start mr-3 py-4" alt="...">
            </figure>                 
        </div>
    </div>    
</body>
</html>