<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css"            href="/static/css/traffics.css" />
</head>
<body>
    <div class="row">
        <div class="col-7">
                <figure class="figure">
                    <img src="{{ user_image }}" alt="User Image">
                <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
                </figure>              
        </div>
        <div class="col-5">
            <div class="media-body mr-3 p-4">
                <h5 class="mt-0">Puissance du SEO</h5>
                    <p class="lead">La majorité du trafic vient des moteurs de recherche, le trafic direct vient en 2eme position.</p>
                <!-- <p>Pour la suite de l’analyse, nous nous concentrerons spécifiquement sur le secteur des SSII et NTIC.</p> -->
            </div>
        </div>
    </div>    
</body>
</html>