<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css"            href="/static/css/tconv.css" />
</head>
<body>
    <div class="row">
        <div class="col-7">
                <figure class="figure">
                    <img src="{{ user_image }}" alt="User Image">
                <!-- <figcaption class="figure-caption">A caption for the above image.</figcaption> -->
                </figure>              
        </div>
        <div class="col-5">
            <div class="media-body mr-3 p-4">
                <h5 class="mt-0">Taux de conversion pour les US de 2%</h5>
                    <p class="lead">Ce sont les US qui génèrent le revenu, le taux de conversion est de 2% vs 1.12% au global.</p>
                <!-- <p>Pour la suite de l’analyse, nous nous concentrerons spécifiquement sur le secteur des SSII et NTIC.</p> -->
            </div>
        </div>
    </div>    
</body>
</html>